# Formal verification


<WikipediaCitation
  language="en"
  title="Formal verification"
  access="2023/06/17"
  version="1154845788"
/>


## Overview

In the context of hardware and software systems, formal verification is the act of proving or disproving the correctness of intended algorithms underlying a system with respect to a certain formal specification or property, using formal methods of mathematics.

Formal verification can be helpful in proving the correctness of systems such as: cryptographic protocols, combinational circuits, digital circuits with internal memory, and software expressed as source code.


